@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "CrimsonText";
        src: url("public/fonts/CrimsonText-Regular.ttf") format("ttf");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "CrimsonText";
        src: url("/fonts/CrimsonText-Italic") format("ttf");
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "CrimsonText";
        src: url("/fonts/CrimsonText-Bold") format("ttf");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}

html {
    overflow-y: scroll;
    color-scheme: light;
    background-color: white;
    font-family: "CrimsonText", serif;
}

html.dark {
    color-scheme: dark;
    background-color: black;
}

html,
body {
    @apply h-full w-full antialiased;
    @apply bg-white dark:bg-black;
    @apply text-black/75 dark:text-white/75;
    @apply text-lg;
}

body {
    @apply relative flex flex-col;
}

main {
    @apply flex flex-col flex-1 bg-white dark:bg-black;
}

header {
    @apply border-b;
    @apply transition-all duration-300 ease-in-out;
}

header:not(.scrolled) {
    @apply bg-transparent border-transparent;
}

header.scrolled {
    @apply bg-white/75 dark:bg-black/50;
    @apply border-black/10 dark:border-white/25;
    @apply backdrop-blur-sm saturate-200;
}

article {
    @apply prose dark:prose-invert max-w-full pb-12;
}

.page-heading {
    @apply font-semibold text-black dark:text-white;
}

.blend {
    @apply transition-all duration-300 ease-in-out;
}

/** styles for public /animation.js */
.animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

article img {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}

/* FOR HEADER LINKS */
/* Should animate in a line under the link. The line should be as wide as the word in the link */
.underline-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        height: 2px;
        background-color: currentColor;
        opacity: 0.4;
        transition: all 0.3s;
    }

    &:focus::after {
        width: 100%;
    }

    &:active::after {
        width: 100%;
    }

    &:link::after {
        width: 100%;
    }
}