---
import PageLayout from '@layouts/PageLayout.astro';
import { SITE } from '@consts';
import { Image } from 'astro:assets';

// @ts-ignore
import background_image from '../assets/images/pc_bg.JPG';
// @ts-ignore
import background_image_mobile from '../assets/images/mobile_bg.JPG';
---

<PageLayout title='Hjem' description={SITE.DESCRIPTION}>
    <!-- BACKGROUND IMAGE -->
    <Image
        class='animate fixed filter brightness-[50%] w-full h-full object-cover hidden md:block'
        src={background_image}
        alt={'Background image'}
        width={4928}
        height={3264}
    />
    <Image
        class='animate fixed filter brightness-[50%] w-full h-full object-cover md:hidden'
        src={background_image_mobile}
        alt={'Background image'}
        width={3264}
        height={4928}
    />

    <!-- HERO -->
    <section class='relative h-screen w-full'>
        <div class='animate absolute h-full w-full flex items-center justify-center'>
            <div class='relative w-full h-full flex justify-center'>
                <h1 class='md:text-6xl sm:text-3xl text-2xl flex md:items-end my-32'>BOGSTAD GÅRD SMIE</h1>
            </div>
        </div>
    </section>

    <!-- Main section -->
    <div class='relative bg-white dark:bg-black'>
        <div class='mx-auto flex flex-col items-center max-w-screen-md p-5'>
            <!-- About Section -->
            <section class='animate'>
                <article>
                    <p>Images goes here</p>
                </article>
            </section>

            <!-- Contact section -->
            <section class='animate flex justify-center'>
                <div>
                    <p class='font-bold text-xl text-black dark:text-white'>Kontakt:</p>
                    <p>Ta gjerne kontakt for oppdrag og spesialbestillinger</p>
                    <div class='grid grid-cols-4 gap-2 mt-4 auto-cols-min'>
                        <!-- Mail -->
                        <div class='col-span-1 flex items-center gap-1'>
                            <span class='whitespace-nowrap truncate'>E-mail:</span>
                        </div>
                        <div class='col-span-3 truncate'>
                            <a
                                href={'mailto:hawk.metaldesigns@gmail.com'}
                                target='_blank'
                                class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                <span
                                    class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                    hawk.metaldesigns@gmail.com
                                </span>
                            </a>
                        </div>
                        <!-- Phone -->
                        <div class='col-span-1 flex items-center gap-1'>
                            <span class='whitespace nowrap truncate'>Telefon:</span>
                        </div>
                        <div class='col-span-3 truncate'>
                            <a
                                href={'tel:48241206'}
                                target='_blank'
                                class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                <span
                                    class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                    48241206
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</PageLayout>
