---
import PageLayout from '@layouts/PageLayout.astro';
import { SITE } from '@consts';
import { Image } from 'astro:assets';

// @ts-ignore
import headshot_image from '../assets/images/headshot_v1.jpeg';
---

<PageLayout title='Kontakt' description={SITE.DESCRIPTION}>
    <div class='relative bg-white dark:bg-black my-auto mx-auto md:p-0 p-4 pt-8'>
        <section class='flex lg:flex-row flex-col md:gap-16 gap-8 justify-center items-center max-w-screen-md'>
            <!-- Contact section -->
            <div class='animate'>
                <div>
                    <p class='font-bold text-xl text-black dark:text-white'>Kontakt:</p>
                    <p>Ta gjerne kontakt for oppdrag og spesialbestillinger</p>
                    <div class='grid grid-cols-4 gap-2 mt-4 auto-cols-min'>
                        <!-- Mail -->
                        <div class='col-span-1 flex items-center gap-1'>
                            <span class='whitespace-nowrap truncate'>E-mail:</span>
                        </div>
                        <div class='col-span-3 truncate'>
                            <a
                                href={'mailto:hawk.metaldesigns@gmail.com'}
                                target='_blank'
                                class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                <span
                                    class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                    hawk.metaldesigns@gmail.com
                                </span>
                            </a>
                        </div>
                        <!-- Phone -->
                        <div class='col-span-1 flex items-center gap-1'>
                            <span class='whitespace nowrap truncate'>Telefon:</span>
                        </div>
                        <div class='col-span-3 truncate'>
                            <a
                                href={'tel:+4748241206'}
                                target='_blank'
                                class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                <span
                                    class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                    48 24 12 06
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class='animate'>
                <Image
                    class='rounded-lg md:w-80 w-64'
                    src={headshot_image}
                    alt='Smeden med arbeid'
                    width={900}
                    height={900}
                />
            </div>
        </section>
    </div>
</PageLayout>
