---
import PageLayout from '@layouts/PageLayout.astro';
import { SITE } from '@consts';
import { Image } from 'astro:assets';

import { Divider } from '@nextui-org/divider';

// @ts-ignore
import headshot_image from '../assets/images/headshot_v1.jpeg';
---

<PageLayout title='Kontakt' description={SITE.DESCRIPTION}>
    <div class='relative bg-white dark:bg-darkness mx-auto md:p-0 p-4 pt-8 md:my-auto mt-5'>
        <section class='flex lg:flex-row flex-col md:gap-16 gap-8 justify-center items-center max-w-screen-md animate'>
            <!-- Contact section -->
            <div>
                <div>
                    <p class='font-bold text-xl text-black dark:text-white'>Kontakt:</p>
                    <p>Ta gjerne kontakt for oppdrag og spesialbestillinger</p>
                    <div class='grid grid-cols-4 gap-2 mt-4 auto-cols-min'>
                        <!-- Mail -->
                        <div class='col-span-1 flex items-center gap-1'>
                            <span class='whitespace-nowrap truncate'>E-mail:</span>
                        </div>
                        <div class='col-span-3 truncate'>
                            <a
                                href={'mailto:hawk.metaldesigns@gmail.com'}
                                target='_blank'
                                class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                <span
                                    class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                    hawk.metaldesigns@gmail.com
                                </span>
                            </a>
                        </div>
                        <!-- Phone -->
                        <div class='col-span-1 flex items-center gap-1'>
                            <span class='whitespace nowrap truncate'>Telefon:</span>
                        </div>
                        <div class='col-span-3 truncate'>
                            <a
                                href={'tel:+4748241206'}
                                target='_blank'
                                class='w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend'>
                                <span
                                    class='text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend'>
                                    48 24 12 06
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div>
                <Image
                    class='rounded-lg md:w-80 w-64'
                    src={headshot_image}
                    alt='Smeden med arbeid'
                    width={900}
                    height={900}
                    loading={'eager'}
                />
            </div>
        </section>

        <Divider className='opacity-30 my-6 md:my-10 animate' />

        <!-- Socials -->
        <section class='animate'>
            <h2 class='font-bold md:text-lg text-black dark:text-white'>
                Hold deg oppdatert på vår facebook og instagram:
            </h2>
            <div>
                <!-- Instagram -->
                <div class='flex items-center gap-2'>
                    <span>Instagram: </span>
                    <a
                        href={'https://www.instagram.com/hawk.metaldesigns/'}
                        target='_blank'
                        aria-label={`${SITE.TITLE} on Instagram`}
                        class='group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend'>
                        <svg class='size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend'>
                            <use href={`/social.svg#instagram`}></use>
                        </svg>
                    </a>
                </div>
                <!-- Facebook -->
                <div class='flex items-center gap-2'>
                    <span>Facebook: </span>
                    <a
                        href='https://www.facebook.com/kunstsmedBogstadgård'
                        target='_blank'
                        aria-label={`${SITE.TITLE} on Facebook`}
                        class='group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend'>
                        <svg class='size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend'>
                            <use href={`/social.svg#facebook`}></use>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
    </div>
</PageLayout>
