---
import { SITE } from '@consts';
import Container from '@components/Container.astro';

const currentUrl = Astro.url.pathname;
---

<footer class='relative bg-white dark:bg-darkness'>
    <div class='animate'>
        <section class='py-5'>
            <Container size='md'>
                <div class='flex items-center justify-center sm:justify-end'>
                    {
                        currentUrl == '/' && (
                            <button
                                id='back-to-top'
                                aria-label='Back to top of page'
                                class='group flex w-fit p-1.5 gap-1.5 text-sm items-center border rounded hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out'>
                                <svg
                                    xmlns='http://www.w3.org/2000/svg'
                                    width='20'
                                    height='20'
                                    viewBox='0 0 24 24'
                                    fill='none'
                                    stroke-width='2.5'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    class='stroke-current group-hover:stroke-black group-hover:dark:stroke-white rotate-90'>
                                    <line
                                        x1='19'
                                        y1='12'
                                        x2='5'
                                        y2='12'
                                        class='scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out'
                                    />
                                    <polyline
                                        points='12 19 5 12 12 5'
                                        class='translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out'
                                    />
                                </svg>
                                <div class='w-full group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out'>
                                    Til toppen
                                </div>
                            </button>
                        )
                    }
                </div>
            </Container>
        </section>
    </div>

    <!-- <section class=" py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25">
      <Container size="md">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <div class="flex flex-col items-center sm:items-start">
            <a href="/" class="flex gap-1 w-fit font-semibold text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              <svg class="size-6 fill-current">
                <use href="/brand.svg#brand"/>
              </svg>
              {SITE.TITLE}
            </a>
          </div>
          <div class="flex gap-2 justify-center sm:justify-end items-center">
            <span class="relative flex h-3 w-3">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-300"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
            </span>
            All systems normal
          </div>
        </div>
      </Container>
    </section> -->

    <section class='py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25 bg-black'>
        <Container size='md'>
            <div class='h-full grid grid-cols-1 sm:grid-cols-2 gap-3'>
                <!-- TERMS AND PRIVACY -->
                <div class='order-2 sm:order-1 flex flex-col items-center justify-center sm:items-start'>
                    <!-- <div class='legal'>
                            <a
                                href='/legal/terms'
                                class='text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out'>
                                Terms
                            </a> |
                            <a
                                href='/legal/privacy'
                                class='text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out'>
                                Privacy
                            </a>
                        </div> -->
                    <div class='text-sm mt-2'>&copy; 2024 | All rights reserved</div>
                </div>

                <div class='order-1 sm:order-2 flex justify-center sm:justify-end'>
                    <div class='flex flex-wrap gap-1 items-center justify-center'>
                        <!-- Mail -->
                        <a
                            href={'mailto:hawk.metaldesigns@gmail.com'}
                            target='_blank'
                            aria-label={`Send mail to ${SITE.TITLE}`}
                            class='group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend'>
                            <svg
                                viewBox='0 0 50 50'
                                class='size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend'>
                                <path
                                    d='M 14 4 C 8.4886661 4 4 8.4886661 4 14 L 4 36 C 4 41.511334 8.4886661 46 14 46 L 36 46 C 41.511334 46 46 41.511334 46 36 L 46 14 C 46 8.4886661 41.511334 4 36 4 L 14 4 z M 14 6 L 36 6 C 40.430666 6 44 9.5693339 44 14 L 44 36 C 44 40.430666 40.430666 44 36 44 L 14 44 C 9.5693339 44 6 40.430666 6 36 L 6 14 C 6 9.5693339 9.5693339 6 14 6 z M 13 15 C 11.35503 15 10 16.35503 10 18 L 10 32 C 10 33.64497 11.35503 35 13 35 L 37 35 C 38.64497 35 40 33.64497 40 32 L 40 18 C 40 16.35503 38.64497 15 37 15 L 13 15 z M 13.414062 17 L 36.583984 17 L 27.677734 25.892578 C 26.18494 27.382984 23.796834 27.382819 22.304688 25.890625 L 13.414062 17 z M 38 18.412109 L 38 31.587891 L 31.402344 25 L 38 18.412109 z M 12 18.414062 L 18.585938 25 L 12 31.585938 L 12 18.414062 z M 29.988281 26.412109 L 36.585938 33 L 13.414062 33 L 20 26.414062 L 20.890625 27.304688 C 23.146478 29.56054 26.832638 29.562194 29.089844 27.308594 L 29.988281 26.412109 z'
                                ></path>
                            </svg>
                        </a>
                        <!-- Instagram -->
                        <a
                            href={'https://www.instagram.com/hawk.metaldesigns/'}
                            target='_blank'
                            aria-label={`${SITE.TITLE} on Instagram`}
                            class='group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend'>
                            <svg
                                viewBox='0 0 50 50'
                                class='size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend'>
                                <path
                                    d='M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z'
                                ></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </Container>
    </section>
</footer>

<script is:inline>
    function goBackToTop(event) {
        event.preventDefault();
        window.scrollTo({
            top: 0,
            behavior: 'smooth',
        });
    }

    function inintializeBackToTop() {
        const backToTop = document.getElementById('back-to-top');
        backToTop?.addEventListener('click', goBackToTop);
    }

    document.addEventListener('astro:after-swap', inintializeBackToTop);
    inintializeBackToTop();
</script>
